#navbar ul{list-style: none;}
#navbar ul{margin: 10px;}
#navbar ul{display: flex;justify-content: center;align-items: center;}  
#navbar ul{border: 1px solid lightblue;margin-right: 10px;}
#navbar ul{background: lightblue;align-items: center;}
#nav-item li{display: inline;margin: 0 10px;}
#navbar a{text-decoration: none;color: black;}